<?xml version="1.0"?>
<launch>

  <!-- roslaunch arguments -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="wait_for_datum" default="false" />

  <!-- Do SLAM with gmapping-->
  <include file="$(find summit_xl_navigation)/launch/summit_xl_gmapping.launch" />


</launch>
